<!DOCTYPE html>
<html ng-app="AdminsManage">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="\stylesheets\bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/openSans/fontstyle.css">

    <!-- Sweet Alert -->
    <script src="plugin/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="plugin/sweetalert/dist/sweetalert.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>

    <script src="/javascripts/adminsManageScript.js" type="text/javascript"></script>
</head>

<body ng-controller="AdminsManageController as adminsManage" dir="rtl">

<div class="container" style="background-color: #FFF8DC">
    <a href="panelManagement"><button type="button" class="btn btn-primary center-block">חזרה לממשק הניהול</button></a>
    <h1 class="text-center">אדמינים</h1>
    <br>
    <hr>

    <h3 class="text-right">הוספת אדמין חדש</h3>
    <br>


    <table class="table table-bordered" dir="rtl">
        <tr>

            <td class="text-center"><b>שם</b></td>
            <td><input type="text" id="txtName" ng-model="adminObj.name" required>  </td>
        </tr>
        <tr>
            <td class="text-center"><b>מייל</b></td>
            <td>     <input type="text" id="txtEmail" ng-model="adminObj.email" required> </td>
        </tr>
    </table>


    <button type="button" class="btn-lg btn-success pull-right" ng-click="addAdmin()" id="cmdAdd"> הוספה</button>

    <br><br>

    <hr>

    <h3>אדמינים קיימים</h3>

    <table class="table table-bordered" dir="rtl">
        <thead>
        <tr><th class="text-center">שם</th><th class="text-center">מייל</th><th class="text-center">מחיקה</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="admin in adminsList">
            <td class="text-center">{{admin.name}}</td> <td class="text-center">{{admin.email}}</td> <td class="text-center"> <button type="button" class="btn-md btn-danger" ng-click="delAdmin(admin)">מחק</button></td>
        </tr>
        </tbody>
    </table>




</div>
</body>
</html>

