<!DOCTYPE html>
<html ng-app="PicturesManage" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="\stylesheets\bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/openSans/fontstyle.css">
    <link href="stylesheets/waitCircle.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <script src="plugin/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="plugin/sweetalert/dist/sweetalert.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/ng-file-upload.min.js"></script>

    <script src="/javascripts/picturesManageScript.js" type="text/javascript"></script>
</head>


<body  ng-controller="PicturesManageController as picturesManage" dir="rtl">

<div class="container" style="background-color: #FFF8DC">

    <a href="panelManagement" ><button type="button" class="btn btn-primary center-block">חזרה לממשק הניהול</button></a>


    <h1 class="text-center">תמונות</h1>
    <br><hr>
   <h3> הוספת תמונה חדשה</h3>
    <br>

    <table class="table table-bordered" dir="rtl">
        <tr>
            <td class="text-center"><b>כותרת</b></td>
            <td><input type="text" name="title" id="titleId" ng-model="pictureObj.title"></td>
        </tr>
        <tr>
            <td class="text-center"><b>תיאור</b></td>
            <td><input type="text" name="description" id="descId" ng-model="pictureObj.description"></td>
        </tr>
        <tr>
            <td class="text-center"><b>קישור</b></td>
            <td>
                <button class="btn-default" type="file" ngf-select="addPicture($file, $invalidFiles)" accept="image/*" ngf-max-size="10MB">Select File</button>
            </td>
        </tr>
    </table>

    <div id="myProgress" ng-show="showProgress">
        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}" ng-bind="f.progress + '%'"></div>
            </span>
        </div>
    </div>

    <button type="button" class="btn-lg btn-success"  ng-click="sendPicture()"  id="cmdAdd" >הוספה</button>

    <hr>
    <br>
<h3>תמונות קיימות</h3>

    <!--wait circle-->
    <div id="circle" class="sk-circle sk-circleSHOW">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    <br>
    <table id="picturesTable" class="table table-bordered" dir="rtl">
        <thead>
        <tr><th class="text-center">כותרת</th><th class="text-center">תיאור</th> <th class="text-center">דף הבית</th> <th class="text-center">עדכון</th> <th class="text-center">מחיקה</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="pic in pictureList" ng-class="{'success': pic.show}">
            <td class="text-center">{{pic.title}}</td> <td class="text-center">{{pic.desc}}</td> <td class="text-center"><input type="checkbox" ng-model="pic.show" ng-change="changeShow(pic)"></td> <td class="text-center"><a href="#updNews"><button type="button" class="btn-md btn-info" ng-click="showUpdatePicture(pic)">עדכן</button></a></td><td class="text-center">    <button type="button" class="btn-md btn-danger" id="delNl" ng-click="delObj(pic)">מחק</button> </td>
        </tr>
        </tbody>
    </table>

    <div  id="updNews" ng-show="picturesUpObj.show" >

        <br><br>           עדכון
        <table class="table" dir="rtl">


            <tr>

                <td class="text-center"><b>כותרת</b></td>
                <td><input type="text" id="titleId" ng-model="picturesUpObj.title">  </td>
            </tr>
            <tr>
                <td class="text-center"><b>תיאור</b></td>
                <td><input type="text" name="description" id="descId" ng-model="picturesUpObj.description"></td>
            </tr>
        </table>

            <button type="button" class="btn-lg btn-success" ng-click="updatePicture()" id="cmdUpd" >        עדכן</button>
    </div>
</div>
</body>
</html>


