<!DOCTYPE html>
<html ng-app="SettingsManage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="\stylesheets\bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/2-col-portfolio.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <script src="plugin/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="plugin/sweetalert/dist/sweetalert.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>

    <script src="/javascripts/settingsManageScript.js" type="text/javascript"></script>
</head>


<body ng-controller="SettingsController as settings" dir="rtl">


<div class="container" style="background-color: #FFF8DC">
    <a href="panelManagement"><button type="button" class="btn btn-primary center-block">חזרה לממשק הניהול</button></a>
    <br>
    <h1 class="text-center">הגדרות</h1>
    <br>
    <table class="table table-bordered" dir="rtl" id="settingsTable">
        <tr>
            <td>שם האתר</td>
            <td><input type="text" id="titleTxt" ng-disabled="disableTitle" ng-model="settings.title"></td>
            <td><button id="titleBtn" ng-click="edit('title')">עריכה</button></td>
        </tr>
        <tr>
            <td>כתובת</td>
            <td><input type="text" id="addressTxt" ng-disabled="disableAddr" ng-model="settings.address"></td>
            <td><button id="addressBtn" ng-click="edit('address')">עריכה</button></td>
        </tr>
        <tr>
            <td>טלפון</td>
            <td><input type="text" id="phoneTxt" ng-disabled="disablePhn" ng-model="settings.phone"></td>
            <td><button id="phoneBtn" ng-click="edit('phone')">עריכה</button></td>
        </tr>
        <tr>
            <td>מייל</td>
            <td><input type="email" id="mailTxt" ng-disabled="disableMail" ng-model="settings.mail"></td>
            <td><button id="mailBtn" ng-click="edit('mail')">עריכה</button></td>
        </tr>
        <tr>
            <td>הצגת כתובת הארגון בדף הראשי</td>
            <td><input type="checkbox" ng-model="settings.addressOnMain"></td>
        </tr>
    </table>

    <button type="button" class="btn-lg btn-success" ng-click="updateSettings()" id="cmdUpd">עדכן</button>

</div>
</body>
</html>


